<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="AssetsEntities" connectionString="metadata=res://*/Model.DB.Assets_DB.csdl|res://*/Model.DB.Assets_DB.ssdl|res://*/Model.DB.Assets_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLAGDEV01\MSSQLDEV;initial catalog=CMGS_AssetsManagement;persist security info=True;user id=sqldeviis;password=Abcd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="AssetsEntities" connectionString="metadata=res://*/Model.DB.Assets_DB.csdl|res://*/Model.DB.Assets_DB.ssdl|res://*/Model.DB.Assets_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmgs-sql01\mssqldev;initial catalog=CMGS_AssetsMgmt;persist security info=True;user id=assetsadmin;password=p@ssw0rd@2024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AssetsEntitiesNew" connectionString="metadata=res://*/Model.DB.Assets_DB.csdl|res://*/Model.DB.Assets_DB.ssdl|res://*/Model.DB.Assets_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmgs-sql01\mssqldev;initial catalog=CMGS_AssetsMgmtDev;user id=assetsadmin;password=p@ssw0rd@2024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
